
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#cursos-section {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.curso-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.curso-logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.curso-nome {
    font-size: 16px;
    color: #333;
}
