
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#habilidades-section {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.habilidade-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
}

.habilidade-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
